<!-- $http, filter -->

<html ng-app="magicApp">
<head>
    <meta charset="utf-8">
    <title>Example - http and filter</title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
        var app = angular.module('magicApp', []);

        app.controller('UserController', ['$scope', '$http', function ($scope, $http)
        {
            $http.get('users.json').success(function(data) {
                console.info('get');
                $scope.users = data;
            });
        }]);

    </script>
</head>
<body ng-controller="UserController">
Search: <input ng-model="query" type="text"/><br>
<ul>
    <li ng-repeat="user in users | filter:query">{{user.firstname}}</li>
</ul>
</body>
</html>
